<h1>{{ table_name }} (Schema: public)</h1>
<table>
<tbody>  
<tr>    
    <th>No</th>
    <th>Column Name</th>    
    <th>Description</th>    
    <th>Data Type</th>
    <th>Default</th>
</tr>
 {% for field in metadata %}
  <tr>
    <td>{{ field['ordinal_position'] }}</td>
    <td>{{ field['column_name'] }}</td>    
    <td>{{ field['column_comment'] }}</td>    
    <td>{{ field['data_type'] }} {{ field['numeric_precision'] if field['numeric_precision'] != None }}</td>
    <td>{{ field['column_default'] }}</td>
 </tr>
 {% endfor %}
</tbody>
</table> 