{% import 'macros.html.jinja2' as macros %}

<h1>Liste der Schemas</h1>
<table>
<tbody>  
<tr>    
    <th>Schema</th>
    <th>Beschreibung</th>    
</tr>
 {% for schema in schemas %}
  <tr>
    <td>{{ macros.link(schema['page_title'], schema['link_text'])</td>
    <td>{{ schema['comment']  }}</td>  
 </tr>
 {% endfor %}
</tbody>
</table> 