  {%- macro link(page_title, link_text) -%}
    <ac:link>
      <ri:page ri:content-title="{{page_title}}" />
       <ac:plain-text-link-body>
      <![CDATA[{{link_text]]>
      </ac:plain-text-link-body>
    </ac:link> 
{%- endmacro %}

  
